{% extends 'layout.html' %} 
{% block title %}
    Create
{% endblock %}

{% block css %} {% endblock %}

{% block content %}
<div class="container-fluid" > 
    <div class="container-fluid m-3">
        <a href="#" type="button" class="btn btn-sm btn-secondary mb-3" style="border-radius: 20px;"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>&nbsp; &nbsp; Volver &nbsp;&nbsp;
        </a>
        <div class="d-flex justify-content-between align-items-center">
            <div class="py-3 mb-4">
                <div class="container-fluid d-flex flex-wrap justify-content-center mt-4">
                    <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                        <span class="fs-1 fw-bold">Añadir</span>
                    </a> 
                </div>
                <div class="container-fluid d-flex flex-wrap">
                    <h4> Los campos que tengan el <span style="color: red;">*</span> tendran que ser llenados obligatoriamente. </h4>
                </div>
            </div>

            <div class="d-inline-flex align-items-end justify-content-end col-4">
                <a href="#"  class="btn btn-anam-secondary m-1" > Cancelar </a>
                <a href="#" id="botonGuardar" type="button" class="btn btn-anam-primary m-1">Guardar</a>
            </div>
        </div>
    
        <div class="container-fluid px-10 py-5" >
            <div class="p-4 pt-5" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)">
                <!-- Primera fila: Clave de Pedimento y Tipo de Operación -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="clavePedimento" class="form-label">Clave<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="clavePedimento">
                    </div>
                    <div class="col-md-6">
                        <label for="seccion" class="form-label">Sección<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="seccion">
                    </div>
                </div>
        
                <!-- Segunda fila: Fecha de Inicio y Fecha Fin -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="fechaInicio" class="form-label">Fecha de Inicio<span style="color: red;">*</span></label>
                        <div class="input-group date custom-outline" data-provide="datepicker">
                            <input type="text" class="form-control" placeholder="mm/dd/yyyy">
                            <button class="btn " type="button" id="calendar-button">
                                <i class="bi bi-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="fechaFin" class="form-label">Fecha Fin</label>
                        <div class="input-group date custom-outline" data-provide="datepicker">
                            <input type="text" class="form-control" placeholder="mm/dd/yyyy">
                            <button class="btn " type="button" id="calendar-button">
                                <i class="bi bi-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
        
            <!-- Tercera fila: Denominación -->
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="denominacion" class="form-label">Denominación<span style="color: red;">*</span></label>
                    <textarea class="form-control" id="denominacion" rows="4"></textarea>
                </div>
                </div>
        
                <!-- Cuarta fila: Estado -->
                <div class="row mb-3">
                    <div class="col">
                        <label for="estado" class="form-label">Estado<span style="color: red;">*</span></label>
                        <select class="form-select" id="estado">
                            <option selected>---</option>
                            <option value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                            <!-- Agrega más opciones aquí -->
                        </select>
                    </div>
                </div>
            </div>
        </div> 
    </div>    
</div>
{% endblock %}

{% block js %}

{% endblock  %}
